{% extends 'student_base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
<h2 class="mb-4">All Students</h2>
<ul class="list-group">
    {% for student in students %}
        <li class="list-group-item">
            <a href="{% url 'student_details' student.id %}">{{ student.id }})</a>
            {{ student.first_name }} {{ student.last_name }}
        </li>
    {% empty %}
        <li class="list-group-item">No students found.</li>
    {% endfor %}
</ul>
<a href="{% url 'students_create' %}" class="btn btn-primary mt-3">Add New Student</a>
{% endblock %}